@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
    font-family: "Miama";
    src: url(../fonts/Miama.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    color: #FFFFFF;
}
body{
    background-color: #000000;
}
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
/* common styles  */
.banner-container,section{
    max-width: 75%;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.miama-text{
    font-family: "Miama";
    font-weight: 400;
    font-size: 9.5rem;
}
p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    font-family: "Inter";
}
.color-gray{
    background-color:rgb(34, 34, 34);
}
.btn{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background-color: rgb(230, 83, 60);
    border: none;
    font-size: 1.15rem;
    font-weight: 600;
    margin-right: 3%;
}
.download-btn{
    background:none;
    border: 1px solid white;
}

/* banner section  */
nav{
    justify-content: space-between;
    padding: 5% 0;
}
.logo{
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
    color: #E6533C;
}
nav>ul{
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(255,255,255,0.1);
    width: 465px;
    height: 46px;
    border-radius: 39px;
}
nav>ul>li{
    list-style: none;
}

.banner{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.banner-info>h1{
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%;

}
.banner-info>p{
    margin: 5% 0;
}
.banner-image{
    position: relative;
}
.banner-image img{
    width: 100%;
    height: 100%;
}

.free-video,.video-tutorial{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.free-video{
    width: 193px;
    height: 98px;
    top: 130px;
    right: -80px;
}
.video-tutorial{
    width: 206px;
    height: 98px;
    bottom: 60px;
    right: 270px;
    display: flex;
}
.video-500>h2{
    font-size: 2.5rem;
}
.video-350>h2{
    font-size:1.5rem;
    font-weight: 900;
}
.tutorial{
    background-color: #E6533C;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play{
    display: none;
}
/* change your habit  */
.change-habit{
    margin-top: 5%;
}
.change-habit>p{
    max-width: 671px;
    margin: 0 auto;
}
.change-habit>h1{
    font-size: 3rem;
    margin-bottom: 2%;
}
.habit-card{
    margin-top: 5%;
    justify-content: space-between;
}
.habit{
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 231px;
    height: 274px;
    margin-top: 30px;
}
.habit img{
    width: 180px;
    width: 180px;
    border-radius: 50%;
}
.habit>h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 14px;
    margin-bottom: 10px;
}
/* run and extra mile easyly */
.run-extra-mile{
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
    background-color: rgba(34,34,34,1);
    border-radius: 18px;
    padding: 3.5%;
}
.extram-mile-info{
    max-width: 443px;
}
.extram-mile-info>h1{
    font-size: 3rem;
    font-weight: 900;
}
.extram-mile-info>p{
    margin-top: 14px;
    margin-bottom: 30px;
}
.extram-mile-img img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
}

/* Bmi calculator section  */
.bmi{
    width: 120%;
    background-color: gray;
}
.calculator-heading{
    max-width: 670px;
    margin: 7% auto;
}
.calculator-heading>h1{
    font-size: 3rem;
    font-weight: 900;
}
.calculator-container{
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    
}
.bmi-claculator{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
.activity-fector{
    grid-column: 1 / span 2;
}
input,select{
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color:rgba(255, 255, 255, 0.1);
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
}
table{
    width: 310px;
    height: 216px;
}
table,th,td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding-left: 5%;
    text-align: start;
}

.calculator{
    width: 577px;
}

/* meet our team  */
.team-members{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.member{
    position: relative;
}
.member-info{
    position: absolute;
    bottom: 10%;
    left: 2%;
}
.member-img img{
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
}
/* footer section  */
.footer{
    justify-content: space-around;
}
.footer-left{
    width: 40%;
}
.footer-right{
    width: 40%;
}
.get-started{
    gap: 20%;
}
.footer-menu>li{
    list-style: none;
    margin-top: 5%;
}


/* mobile responsive  */

@media screen and (max-width:575px) {
    /* common styles  */
    .flex-column-sm{
        flex-direction: column;
        align-items: center;
    }
    /* banner  */
    .banner-info>h1{
        font-size: 2.5rem;
    }
    .miama-text{
        font-size: 4.5rem;
    }
    .banner{
        flex-direction: column;
    }
    .btn{
        width: 169px;
        height: 54px;
    }
    .free-video{
        width: 145px;
        height: 74px;
        top: 95px;
        right: -10px;
    }
    .video-tutorial{
        width: 155px;
        height: 72px;
        bottom: 250px;
        right: 170px;
    }
    .play{
        display: block;
    }
    .menu{
        display: none;
    }
    .banner-image{
        margin-top: 50px;
    }
    /* change habit  */
    .habit-card{
        grid-template-columns: repeat(1,1fr);
    }
    /* extra mile  */
    .run-extra-mile>h1{
        font-size: 2rem;
    }
    .btn-extra-mile{
        width: 100%;
    }
    .extram-mile-img img{
        width: 287px;
        height: 170px;
        margin-top: 30px;
    }
}