@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
    font-family: "Miama";
    src: url(../fonts/Miama.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    color: #FFFFFF;
}
body{
    background-color: rgba(0,0,0);
}
header{
    background-image:linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%);

}
/* common styles  */
 .container{
    max-width: 1060px;
    margin: 0 auto;
 }
.section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 3%;
}
.section-title>h1{
    font-size: 3rem;
    font-weight: 900;
}
.section-title>p{
    text-align: center;
    width: 358px;
    margin-top: 2%;
    margin-bottom: 3%;
}
.d-flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.miama-text{
    font-family: "Miama";
    font-weight: 400;
    font-size: 9.5rem;
}
p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    font-family: "Inter";
}
.btn{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background-color: rgb(230, 83, 60);
    border: none;
    font-size: 1.15rem;
    font-weight: 600;
    margin-right: 3%;
}
.download-btn{
    background:none;
    border: 1px solid white;
}

/* banner section  */
nav{
    justify-content: space-between;
    padding: 5% 0;
    align-items: center;
}
.logo{
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
    color: #E6533C;
    margin-left: 0;
}
.menu{
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255,255,255,0.1);
    width: 465px;
    height: 46px;
    padding: 5px;
    border-radius: 39px;
}
.menu-sm{
    display: none;
}
.menu>li{
    list-style: none;
    text-align: center;
    padding: 2% 0;
    width: 100px;
    border-radius: 18px;
}
.menu>li:first-child{
    background-color: #E6533C;
}
.banner{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.banner-info>h1{
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%;

}
.banner-info>p{
    margin: 5% 0;
}
.banner-image{
    position: relative;
}
.banner-image img{
    width: 100%;
    height: 100%;
}

.free-video,.video-tutorial{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.free-video{
    width: 193px;
    height: 98px;
    top: 130px;
    right: -80px;
}
.video-tutorial{
    width: 206px;
    height: 98px;
    bottom: 60px;
    right: 270px;
    display: flex;
}
.video-500>h2{
    font-size: 2.5rem;
}
.video-350>h2{
    font-size:1.5rem;
    font-weight: 900;
}
.tutorial{
    background-color: #E6533C;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play{
    display: none;
}
/* change your habit  */
.habit-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 10%;
}
.habit{
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 231px;
    height: 274px;
    margin-top: 30px;
    margin: 0 auto;
}
.habit img{
    width: 180px;
    width: 180px;
    border-radius: 50%;
}
.habit>h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 14px;
    margin-bottom: 10px;
}
/* run and extra mile easyly */
.run-extra-mile{
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
    background-color: rgba(34,34,34,1);
    border-radius: 18px;
    padding: 3.5%;
}
.extram-mile-info{
    max-width: 443px;
}
.extram-mile-info>h1{
    font-size: 3rem;
    font-weight: 900;
}
.extram-mile-info>p{
    margin-top: 14px;
    margin-bottom: 30px;
}
.extram-mile-img img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
}

/* Bmi calculator section  */
.bmi-container{
    background-color:#222222;
    width: 100%;

}
.calculator-container{
    justify-content: space-between;
    padding-top: 7%;
    padding-bottom: 7%;

    
}
.claculator-chart>h2{
    font-size: 1.75rem;
}
table{
    width: 310px;
    height: 216px;
    margin-top: 10%;
    margin-bottom: 5%;
}
table,th,td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding-left: 5%;
    text-align: start;
}
th{
    font-size: 1rem;
    font-weight: 500;
}
td{
    font-size: 0.87rem;
    font-weight: 400;
    color: #FFFFFF80;
}
.calculator{
    width: 577px;
}
.calculator>h2{
    font-size: 1.75rem ;
    margin-bottom: 3%;
}
.bmi-claculator{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    margin-top: 7%;
}
.activity-fector{
    grid-column: 1 / span 2;
}
input,select,textarea{
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color:rgba(255, 255, 255, 0.1);
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
}
/* meet our team  */
.meet-our-team{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 3%;
}
.team-members{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    background-color:rgb(34, 34, 34);
    border-radius: 18px;
    padding: 2%;
    margin: 0 auto;
    
}
.member{
    margin: 0 auto;
    position: relative;
}
.trainer-image{
    width: 326px;
    height: 272px;
    border-radius: 18px;
    background-size: cover;
    background-position: center;
}
.traniner-1{
    background-image: url(../images/trainer1.png);
}
.traniner-2{
    background-image: url(../images/trainer2.png);
}
.traniner-3{
    background-image: url(../images/trainer3.png);
}
.traniner-4{
    background-image: url(../images/trainer4.png);
}
.traniner-5{
    background-image: url(../images/trainer5.png);
}
.traniner-6{
    background-image: url(../images/trainer6.png);
}
.traniner-info{
    position: absolute;
    bottom: 15px;
    left: 15px;
}
/* membership  */
.mebmership-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color:#222222;
    border-radius: 18px;
}
.all-membership{
    width: 350px;
    height: 400px;
    padding-left: 5%;
}
.all-membership>h1{
    margin-top: 10%;
}
.membership{
    margin-top: 5%;
    width: 360px;
}
.membership>div{
    display: flex;
    align-items:flex-start;
    gap: 2%;
    margin-bottom: 5%;
}
.membership>div>p{
    font-size: 1.2rem;
}
.membership>div i{
    background-color: green;
    padding: 7px;
    margin-bottom: 5px;
}
.contact-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin-left: 5%;
    border-left: 1px solid #FFFFFF1A;
    padding-left: 5%;
}
textarea{
    resize: none;
    border: none;
    height: 100px;
    margin-bottom: 10px;
    padding-top: 2%;
}
/* footer section  */
footer{
    margin-top: 7%;
    background-color:#222222;
    padding-bottom: 2%;
}
.footer-container{
    justify-content: space-between;
    margin-top: 4%;
    padding-top: 3%;
}
.footer-left{
    max-width: 444px;
}
.footer-logo{
    font-size: 4.3rem;
    margin-bottom: 10px;
}
.get-started{
    gap: 150px;
}

.footer-menu>h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.footer-menu>ul>li{
    list-style: none;
    margin-top: 5%;
    font-size: 1.43rem;
    font-weight:400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;

}
.hr-line{
    border: 1px solid #FFFFFF1A;
    margin-top: 3%;
    
}
.footer-end{
    margin-top: 2%;
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
/* medium device  */
@media screen and (min-width:576px) and (max-width:992px) {
    /* common styles  */
    .container{
        max-width: 90%;
    }
    .flex-column-md{
        flex-direction: column;
    }
    /* banner section  */
    .banner-info{
        margin-bottom: 10%;
    }
    /* change habit  */
    .habit-card{
        grid-template-columns: repeat(2,1fr);
    }
    /* team-members */
    .trainer-image{
        width: 199px;
    }
    /* membership  */
    .mebmership-container{
        padding-bottom: 10%;
    }
    .contact-info,.all-membership,.membership{
        border: none;
        width: 80%;
        margin: 0;
        padding: 0;
    }
    .membership{
        margin-top: 10%;
    }
    /* footer  */
    .footer-left{
        margin-bottom: 10%;
    }
}
/* small device  */

@media screen and (max-width:575px) {
    /* common styles  */
    .container{
        max-width: 90%;
    }
    .flex-column-sm{
        flex-direction: column;
        align-items: center;
    }
    .section-title>h1{
        font-size: 2rem;
    }
    /* banner  */
    .menu-sm{
        display: block;
    }
    .menu-sm>i{
        font-size:1.5rem ;
    }
    .banner-info>h1{
        font-size: 2.5rem;
    }
    .miama-text{
        font-size: 4.5rem;
    }
    .banner{
        flex-direction: column;
    }
    .btn{
        width: 169px;
        height: 54px;
    }
    .free-video{
        width: 145px;
        height: 74px;
        top: 50px;
        right: 5px;
    }
    .video-500>h2,.video-350>h2{
        font-size: 1.8rem;
        
    }
    .video-500>p,.video-350>p{
        font-size: 0.8rem;
        
    }
    .video-tutorial{
        width: 155px;
        height: 72px;
        bottom: 240px;
        right: 150px;
    }
    .play{
        display: block;
    }
    .menu{
        display: none;
    }
    .banner-image{
        margin-top: 50px;
    }
    /* change habit  */
    .habit-card{
        grid-template-columns: 1fr;
    }
    .habit{
        margin-top: 3%;
    }
    .change-habit>h1{
        font-size: 2rem;
    }
    /* extra mile  */
    .run-extra-mile>h1{
        font-size: 2rem;
    }
    .btn-extra-mile{
        width: 100%;
    }
    .extram-mile-img img{
        width: 287px;
        height: 170px;
        margin-top: 30px;
    }
   /* bmi calculator  */
   .calculator-heading{
    width: 75%;
   }
   .calculator-heading>h1{
    font-size: 2rem;
}
   .calculator{
    width: 300px;
   }
   /* meet our team  */
.team-members{
    grid-template-columns: 1fr;
    width: 92%;
    padding-top: 10px;
    gap:10spx;
}
 /* membership  */
 .mebmership-container,.run-extra-mile{
    padding-bottom: 5%;
    width: 90%;
    margin: 0 auto;
 }
 .contact-info{
    border: none;
    width: 95%;
    margin:0;
    padding: 0;
 }
/* footer  */
footer{
    padding-left: 5%;
}
.footer-container{
    flex-direction: column;
}
.get-started{
    margin-top: 50px;
    gap: 20px;
    flex-direction: column;
}
 
}


